.major {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: red;
    position: fixed;
  }

.minor {
    width: 4px;
    height: 4px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background: rgba(208, 220, 251, 0.733);
    position: relative;
    box-shadow:
    0 0 70px 3px #fff,  /* inner white */
    0 0 50px 2px #f0f, /* middle magenta */
    0 0 100px 10px #0ff; /* outer cyan */
}

#pointsHolder {
    position: fixed;
    top: 83%;
    left: 35%;
    margin-top: -100px; /* Negative half of height. */
    margin-left: -250px; /* Negative half of width. */
}

* {
    background: #09001d;
}

h1 {
    padding-top: 10px;
    letter-spacing: 1.3vw;
    margin-bottom: 1vh;
    color: rgba(255, 243, 228, 0.781);
}

h1, h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
}

h2 {
    margin-top: 0;
    color: rgba(255, 255, 255, 0.616);
    font-size: 1.3em;
    letter-spacing: .2vw;
}

b {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.89);
}